    .Header
    {
        background-color: black;height: 50px; 
        color:white;
        padding :17px;
        padding-left: 20px;
        
    }
    .Navigator
    {
        height: 520px;
        color:white;
        padding: 25px;
        font-size: large;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400px;
        background-image: url('imagesTask1/DhoniBackground.jpg'); 
        background-repeat: no-repeat;
        background-size: cover;
    }

    .RenewalDivision
    {
        height: 60px;
        background-color: rgb(216,239,239);
        font-size: large;
        padding: 5px;
    }
    
    span.b 
    {
        display: inline-block;
        width: 400px;
        height: 310px;
        padding: 5px;
    }

    a{color:white; padding-left: 20px;}
    a:link {text-decoration: none;}
    a:hover {text-decoration: underline;}
                
    *{
        box-sizing: border-box;
    }

    form.SearchBar input[type=text] 
    {
        padding: 10px;
        font-size: 17px;
        border: 1px solid black;
        float: left;
        width: 90%;
        background:white;
        outline:none;
    }

    form.SearchBar button 
    {
        float: left;
        width: 10%;
        padding: 10px;
        background: black;
        color: white;
        font-size: 17px;
        border: 1px solid black;
        border-left: none;
        cursor: pointer;
        height:43px;
        outline: none;
    }

    form.SearchBar button:hover 
    {
        background: gray;
        outline:transparent;
    }


    form.SignUpBar input[type=text] 
    {
        padding: 10px;
        font-size: 17px;
        border: 1px solid black;
        float: left;
        width: 80%;
        background:gray;
        color:black;
        outline: none;
    }

    form.SignUpBar button 
    {
        float: left;
        width: 20%;
        padding: 10px;
        background: white;
        color: black;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.SignUpBar button:hover 
    {
        background: lightgray;
    }


    .DropDownButton1
    {
        border: 2px bold black;
        height: 40px;
        width:230px;
        background-color: black;
        color:white;
        font-weight: bold;
        border: none;
    }
    .DropDownButton1:hover
    {
        background-color: gray; 
        cursor: pointer;
    }

    .DropDownButton2:hover
    {
        color:teal;
        cursor: pointer;
    }

    .NavigatorButton 
    {
        background-color:white;
        color:black;
        text-align: center;
        font-size: 30px;
        padding: 2px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 36px;
        border :solid black;
        margin: 36px;
        margin-top: -4px;
        margin-left: -2px;
        margin-bottom: -4px;
        margin-right: -2px;
        font-weight: bold;
    }
    
    .NavigatorButton
    {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .NavigatorButton:after 
    {
        content: '\2192';
        position: absolute;
        opacity: 0;  
        top: 25px;
        right: 30px;
        transition: 0.5s;
    }
    
    .NavigatorButton:hover
    {
        padding-right: 35px;
        padding-left:8px;
    }
    
    .NavigatorButton:hover:after 
    {
        opacity: 1;
        right: 20px;
    }

    .NavigatorTableButton 
    {
        background-color:white;
        color:black;
        text-align: center;
        padding: 18px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 36px;
        border :0.5px solid lightgray;
        margin-top: -4px;
        margin-left: -2px;
        margin-bottom: -4px;
        margin-right: -2px;
        font-size: 30px;
        width:275px;
        height: 115px;
    }

    .NavigatorTableButton
    {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.2s;
    }
    
    .NavigatorTableButton:after 
    {
        content: '\2192';
        position: absolute;
        opacity: 0;  
        top: 35px;
        right: -30px;
        transition: 0.2s;
    }
    
    .NavigatorTableButton:hover
    {
        padding-right: 35px;
        padding-left:8px;
        background-color:black;
        color:white;
    }
    
    .NavigatorTableButton:hover:after 
    {
        opacity: 1;
        right: 25px;
    }

    .CatelogueHeading
    {
        font-family: helvetica;
        font-size: 15px;
        font-weight: 400;
        line-height: 10%;
    }

    .tableContent
    {
        font-size: small;
    }
    .tableBox:hover
    {
        background-color: black;
        color:white;
    }

    .midheading
    {
        font-family: gd-sage;
        font-size: 45px;
        font-weight: 900;
        line-height: 0em;
    }

    .midtext
    {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 200;
    }

    .getHelpButton
    {
        color:teal;
        font-weight: 700;
        font-family:  Helvetica;
    }

    .getHelpButton:hover
    {
        color:black;
    }

    ::placeholder{font-size: 14px;}

    .midButton
    {
        background-color:white;
        color:black;
        text-align: center;
        font-size: 30px;
        padding: 2px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 36px;
        border :solid black;
        margin: 36px;
        margin-top: -4px;
        margin-left: -2px;
        margin-bottom: -4px;
        margin-right: -2px;
    }

    .midButton
    {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .midButton:after
    {
        content: '\2192';
        position: absolute;
        opacity: 0;  
        top: 9.5px;
        right: -20px;
        transition: 0.5s;
    }
    
    .midButton:hover
    {
        padding-right: 24px;
        padding-left:8px;
    }
    
    .midButton:hover:after 
    {
        opacity: 1;
        right: 10px;
    }

    .SideNavAnimation
    {
        font-size: 16px;
        transition: all 0.5s;
        cursor: pointer;
        display: inline-block;
        position: relative;
        margin-bottom: 0px;
    }
    
    .SideNavAnimation:after
    {
        content: '\2192';
        position: absolute;
        opacity: 0;  
        top: 1px;
        right: -20px;
        transition: 0.5s;
    }
    
    .SideNavAnimation:hover
    {
        padding-right: 30px;
        padding-left:6px;
    }
    
    .SideNavAnimation:hover:after 
    {
        opacity: 1;
        right: 10px;
    }

    figcaption
    {
        color:white; text-align: center;padding:20px;font-family: Arial, Helvetica, sans-serif;
    }

    .headings
    {
        font-family: gd-sage;
        font-size: 50;
        font-weight: bold;
    }
    .contents
    {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 200px;
        line-height: 20px;
        color: rgb(17,17,17);
        
    }
    .subheadings
    {
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        
    }
    .SignUpPanel
    {
        padding:15px;
    }

    .InfoPanelData
    {
        padding-bottom:20px ;
        font-family: helvetica;
        font-size: 12px;
        color:rgb(186,192,195);
    }
    .InfoPanelHeading
    {
        text-align: left;
        padding:20px;
        font-family: helvetica;
        font-size: 16px;
        font-weight:bold;
        color:white;
    }

    .sidenav 
    {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a 
    {
        padding: 8px 6px 8px 25px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover 
    {
        color: #f1f1f1;
    }

    .sidenav .closebtn 
    {
        position: absolute;
        top: -1px;
        right: 5px;
        font-size: 36px;
        margin-left: 120px;
    }

    @media screen and (max-height: 450px)
    {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    .tooltip 
    {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext
        {
        visibility: hidden;
        width: 170px;
        height: 100px;
        background-color: white;
        color: black;
        text-align:left;
        font-family:helvetica;
        border-radius: 3px;
        padding: 10px 0;
        position: absolute;
        z-index: 1;
        top: 170%;
        left: 50%;
        margin-left: -40px;
    }

    .tooltip .tooltiptext::after 
    {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 20%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent white transparent;
    }

    .tooltip:hover .tooltiptext
    {
        visibility: visible;
    }

    .MoreContent:hover
    {
        text-decoration: underline;
    }

    .DropDownColumnLayout 
    {
        float: left;
        width: 33%;
        padding: 0px;
        height: 350px;
    }

    .DropDownRowLayout:after 
    {
        content: "";
        display: table;
        clear: both;
    }

    .overlay 
    {
        height: 0px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 145px;
        left: 0;
        background-color: white;
        overflow-y: hidden;
        transition: 0.5s;
        overflow-x: hidden;
    }

    .overlay-content 
    {
        position: relative;
        top: 5%;
        width: 100%;
        margin-top: 0px;
    }

    .overlay a 
    {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus 
    {
        color: #f1f1f1;
    }


    .overlay .closebtn 
    {
        position: absolute;
        top: 2px;
        right: 17px;
        font-size: 40px;
    }

    .signInTable
    {
        padding:25px;
        font-family: helvetica;
        font-size: 16px;
    }

    .signInHeading
    {
        font-family: Helvetica;
    }

    @media screen and (max-height: 450px) 
    {
        .overlay {overflow-y: auto;}
        .overlay a {font-size: 20px}
        .overlay .closebtn 
        {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    
